
body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 2em;
}

h3 {
  font-family: 'Lato', sans-serif;

}

h4 {
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
  font-weight: 700;
}

h5 {
  font-family: 'Source Sans Pro', sans-serif;
}

ul {
  list-style-type: none;
}

ul > li > a {
  text-decoration: none;
  color : #212529;
}

.skill img {
    height: 45px;
    margin: 2px 5px;
}



  .avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    position: absolute;
      left: 06%;
      top: 02%;
  }


@media(max-width: 760px) {

  .avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    position: absolute;
      left: 01%;
      top: 10%;
  }
}

@media(max-width: 490px) {

  .avatar {
    display: none;
  }
}

.card {
  padding: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#social > a > i {
  font-size: 2.5em;
  color: #57274C;
}

#social > a > i:hover {
  color: #9FA5AA;
}

#soft > i {
  font-size: 2.5em;
  color: #57274C;
}

#hobbies > i {
  font-size: 2em;
  color: #57274C;
}
