body {
  font-family: 'Amaranth', 'Open Sans', sans-serif;
  font-weight: 300; /* if you want the light version */
}

h1 {
  font-family: 'Carter One', cursive;
}

h2 {
  font-family: 'Amaranth', sans-serif;
}

h3 {
  font-family: 'Gentium Book Basic', serif;
  font-weight: 700;
}

.avatar {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: top;
}
